<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyh.sbtimedemo">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="19"/>

    <!-- 拍照 ，相机不是应用正常运行所必须组件（required="false"） -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <!-- 申明OpenGL ES -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture"/>
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".IntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
            </intent-filter>
        </activity>
        <activity android:name=".sharehandle.ShareSimpleData"/>
        <activity android:name=".sharehandle.ShareFileActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities=".sharehandle.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <activity android:name=".multimedia.AudioActivity">
        </activity>

        <receiver
            android:name=".RemoteControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <activity android:name=".multimedia.PhotosActivity">
        </activity>
        <activity android:name=".multimedia.PrintingActivity">
        </activity>
        <activity android:name=".GraphicsAnimation.BitmapActivity">
        </activity>
        <activity android:name=".GraphicsAnimation.OpenGLES20Activity">
        </activity>
        <activity android:name=".GraphicsAnimation.ViewActivity">
        </activity>
        <activity android:name=".GraphicsAnimation.ViewFragment">
        </activity>
        <activity android:name=".GraphicsAnimation.CardFlipActivity">
        </activity>
    </application>

</manifest>